@use "../mixins/mixins" as *;
@use "../colors/colors" as *;
@use "../fonts/fonts" as *;
.header {
   width: 100%;
   padding: 2rem 8rem;
   @include flexbox(flex-start, center, 2.5rem);
   .icon-menu {
      display: none;
   }
   .navbar {
      width: 100%;
      @include flexbox(space-between, center);
      .ul {
         @include flexbox(space-between, center, 1.5rem);
         list-style: none;
         color: $Grayish-Violet;
      }
      .login-sign-up {
         @include flexbox(flex-end, center, 2.5rem);
         .login {
            color: $Grayish-Violet;
         }
         .sign-up-button {
            width: 6rem;
            padding: 0.5rem 1rem;
            background-color: $Cyan;
            color: $White;
            border: none;
            border-radius: 1rem;
            font-weight: $font-500;
         }
      }
   }
}

@media (hover: hover) {
   .navbar > {
      .ul > li:hover {
         cursor: pointer;
         color: $Very-Dark-Violet;
      }
      .login-sign-up {
         > :hover {
            cursor: pointer;
         }
         .login:hover {
            color: $Very-Dark-Blue;
         }
         .sign-up-button:hover {
            background-color: hsl(180, 67%, 74%);
         }
      }
   }
}

@media (width <= 1115px) {
   .header {
      padding: 2rem 4rem;
   }
}

@media (width <= 850px) {
   .header {
      padding: 2rem 2rem;
   }
}

@media (width <= 700px) {
   .header {
      @include flexbox(space-between, center, 0);
      .icon-menu {
         display: block;
      }
      .navbar {
         width: 20.5rem;
         padding: 2rem 1rem;
         background-color: $Dark-Violet;
         border-radius: 0.5rem;
         position: absolute;
         right: -21rem;
         top: 5.5rem;
         @include flexbox(flex-start, center, 0, column);
         row-gap: 1.5rem;
         .ul {
            width: 100%;
            padding-bottom: 1.5rem;
            color: $White;
            @include flexbox(flex-start, center, 0, column);
            row-gap: 1rem;
            border-bottom: 0.1rem solid $Grayish-Violet;
         }
         .login-sign-up {
            width: 100%;
            @include flexbox(flex-start, center, 0, column);
            row-gap: 1rem;
            .login {
               color: $White;
            }
            .sign-up-button {
               width: 100%;
               color: $White;
            }
         }
      }
      .navbar.active {
         right: 1rem;
         transition: 0.3s;
      }
   }

   @media (hover: hover) {
      .icon-menu:hover {
         cursor: pointer;
      }
   }
}
